* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.menu{
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-family: 'Satisfy', cursive;
}

#container-menu{
    height: 5rem;
    min-width: 100%;
    background: linear-gradient(to right, white, grey, black);
    display: flex;
    justify-content:space-between;
    color: white;
    position: fixed;
    z-index: 1000;
}

.icon{
    display: none;
}

#menu-list{
    display: flex;
    margin-right: 3rem;
    gap: 3rem;
    font-size: 1.7rem;
    list-style: none;
}

#menu-list li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    display: inline-flex;
}

#menu-list li a::after{
    display: flex;
    left: 5%;
    width: 0;
    position: absolute;
    content: "";
    height: 0.2rem;
    bottom: -0.1rem;
    background-color: rgba(231, 225, 225, 0.568);
    transition: width 0.5s ease-in-out;
} 

#menu-list li a:hover::after{
    width: 90%;
}

#open-menu{
    display: none;
}

#logo {
    padding-left: 2rem;
    text-shadow: 0.3rem 0.5rem 0.5rem rgb(255, 255, 255);
    font-weight: bold;
    color: #073953;
}

.transition-blue {
    height: 5rem;
    background: linear-gradient(to bottom, #ffffff, #000000);
}

.transition-black{
    height: 5rem;
    background: linear-gradient(to bottom, #000000, #ffffff);
}

.transition-white{
    background: linear-gradient(to bottom, rgb(255, 255, 255), black);
    height: 7rem;
}

.section-default{
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
}

#sobre-section{
    display: flex;
    justify-content: space-evenly;
    background-image: url(/IMG/back-white.svg);
}

#sobre-img{
    width: 65%;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
}


#me-img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 1rem 1rem rgba(136, 135, 135, 0.459);
    z-index: 1;
    margin-top: 10rem;
    border: 0.5rem solid;
}

#name{
    font-size: 3rem;
    font-family: 'Playfair Display';
    font-style: italic;
    width: 100%;
    font-weight: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name span{
    font-family: 'Satisfy';
    display: contents;
    color: #073953;
    font-weight: 550;
}

#sobre-text{
    font-family: 'Playfair Display';
    font-size: 2rem;
    flex-direction: column;
    margin: 3rem;
    display: flex;
    text-indent: 5rem;
    text-align: justify;
}

#sobre-text-container{
    width: 100%;
    margin-top: 5rem;
    padding: 0 10rem 0 10rem;
}

#sobre-text h1{
    font-family: 'Satisfy';
    font-weight: 100;
    align-self: center;
    font-size: 5rem;
    color: #073953;
}

#gallery-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: url(/IMG/back-black.svg);
    background-attachment: fixed;
    background-size: cover;
}

.carousel{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    width: 90%;
    align-items: center;
    height: 100%;
}

.carousel-div{
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    justify-content: space-between;
    width: 85%;
    overflow: hidden;
}

.card{
    margin: 0 1rem;
    padding: 0.5rem;
    flex: 0 0 auto;
    border-radius: 2rem;
    scroll-snap-align: center;
    height: 30rem;
    width: 30rem;
}

.cake-img{
    border-radius: 2rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-info{
    font-family: 'Satisfy';
}

.prev-btn,
.next-btn {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
    border: none;
    height: 3rem;
    border-radius: 30%;
    background: none;
    position: relative;
}

.prev-btn {
    left: 10rem;
}
.next-btn {
    right: 10rem;
}

#price-section{
    background-image: url(/IMG/back-white.svg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

#flavor-table{
    width: 45vw;
}

#decor-table{
    width: 45vw;
}

#price-h1{
    text-align: center;
    font-size: large;
    padding: 1rem 3rem 1rem 3rem;
    width: 20%;
    border-radius: 3rem;
    background-color: #000000;
    color: #ffffff;
    margin-top: 2rem;
}

#price-section .price-table{
    font-size: 2rem;
    text-align: center;
    border-collapse: separate;
    width: 80%;
    margin-bottom: 2rem;
}

#price-section th{
    color: white;
    background: black;
    border-radius: 20px;
}

#price-section td{
    background-color: rgb(124, 128, 126);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#pay {
    font-size: 1.6rem;
    margin-top: 2rem;
    width: 40%;
}

#final-price th{
    width: 50%;
}

#erro-kg{
    font-size: large;
    background-color: rgb(145, 17, 17);
    font-family: Playfair Display;
    width: 25vw;
    text-align: center;
    border-radius: 2rem;
}

#contact-section{
    color: aliceblue;
    background-color: #000000;
    background-image: url(/IMG/back-black.svg);
    background-attachment: fixed;
    background-size: cover;
    height: 20vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#footer-logo{
    font-size: 2.5rem;
}

#logo-container{
    width: 40%;
    display: flex;
    margin-left: 2rem;
}

#social{
    width: 5rem;
    display: flex;
    gap: 1.5rem;
}

#left-footer{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -2rem;
    padding: 2rem;
    justify-content: end;
    margin-right: -10rem;
}

#pix{
    width: 40px;
    margin-bottom: 0.5rem;
}

